<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Coloque as notas</h1>
    <form action="/submit" method="post">
        <label for="math">Mathematics:</label>
        <input type="text" id="math" name="math">
        <label for="datascience">Data Science:</label>
        <input type="text" id="datascience" name="datascience">
        <label for="science">Science:</label>
        <input type="text" id="science" name="science">
        <label for="english">English:</label>
        <input type="text" id="english" name="english">
        <input type="submit" value="Submit">
    </form>
</body>
</html>